body {
    font-family:Arial, Helvetica, sans-serif;
}
#container{
    border:5px solid grey;
    width:800px;
    margin:0 auto;
    padding:10px;
}
#log{
    padding:5px;
    border:1px solid black;
}
#log p {
    margin:0;
}
.event {
    
    background-color: gray;
}
.warning{
    font-weight:bold;
    color:#CCC;
}